<% const author = authors[page.author]; %>
<div class="author">
  <div>
    <a href="/"><img class="avatar" src="<%= author.avatar %>" alt="Avatar photo"></a>
  </div>
  <div>
    <p class="head-blog">Blog by</p>
    <h1><%= author.name %></h1>
    <p>
      <% author.social.forEach((social) => { %>
        <a href="<%= social.paths %>" class="social"><img src="<%= social.image %>" alt="<%= social.name %> logo"></a>
      <% }); %>
    </p>
  </div>
</div>
