<section id="author">
  <% const author = authors[page.author]; %>
  <div>
    <h1>Author <img id="avatar" src="<%= author.avatar %>" alt="Avatar photo"></h1>
    <p><%= author.name %></p>
  </div>

  <p>
    <% author.social.forEach((social) => { %>
      <a href="<%= social.paths %>" class="social"><img src="<%= social.image %>" alt="<%= social.name %> logo"></a>
    <% }); %>
  </p>
</section>