<% posts.forEach(function(post) { %>
  <% if (/(^_|\/_)/.test(post.pathname) && site.draft != true) return; %>
  <article>
    <a href="<%- post.pathname %>" class="post-title">
      <h2><%= post.title %></h2>
    </a>
    <% if(post.summary) { %>
      <p><%= post.summary %></p>
    <% } else { %>
      <p><%= post.description %></p>
    <% } %>
    <footer>
      <%- include("_meta-post", {page: post}) %>
    </footer>
  </article>
<% }); %>
