<!DOCTYPE html>
<html>
  <head>
    <title><%= page.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
  </head>
  <body class="post">
    <header>
      <% include _navigation %>
    </header>
      <main>
        <article>
          <h1><%= page.title %></h1>
          <% include _meta-post %>
          <%- page.body %>
          <% if (!page.noshare) { %>
            <h2>Share:
              &nbsp; <% shareButtons.forEach(({name, image, path}) => { %>
                <a href="<%= path %><%= domain %><%= page.pathname %>" class="social"><img src="<%= image %>"></a>
              <% }); %>
            </h2>
          <% } %>
        </article>
      </main>
      <aside>
        <% if (page.author) { %>
          <% include author/_post %>
        <% } %>
      </aside>
  </body>
</html>
