<!DOCTYPE html>
<html>
  <head>
    <title><%= page.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
     <div>
      <a href="/"><img id="avatar" src="images/avatar.png" alt="Avatar photo"></a>
     </div>
      <div>
        <p class="head-blog">Blog by</p>
        <h1>Manvel Saroyan</h1>
        <p>
          <% social.forEach((social) => { %>
            <a href="/" class="social"><img src="<%= social.image %>" alt="<%= social.name %> logo"></a>
          <% }); %>
        </p>
      </div>
    </header>
    <main>
      <% const posts = site.queryPages((data) => data.type == "post") %>
      <% posts.forEach(function(post) { %>
       <article>
        <a href="<%- post.pathname %>">
          <h2><%= post.title %></h2>
        </a>
          <% if(post.summary) { %>
            <p><%= post.summary %></p>
          <% } else { %>
            <p><%= post.description %></p>
          <% } %>
        <footer>
          <time>Dec 4, 2018</time>
          <span class="separator">|</span>
          <em>css, html</em>
        </footer>
       </article>
      <% }); %>
    </main>
  </body>
</html>
