<!DOCTYPE html>
<html>
  <head>
    <title><%= page.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <% include author/_blog %>
      <% include _navigation %>
    </header>
    <main>
      <% const posts = site.queryPages((data) => data.type == "post").sort((a, b) => new Date(b.date) - new Date(a.date)) %>
      <% posts.forEach(function(post) { %>
        <article>
          <a href="<%- post.pathname %>" class="post-title">
            <h2><%= post.title %></h2>
          </a>
          <% if(post.summary) { %>
            <p><%= post.summary %></p>
          <% } else { %>
            <p><%= post.description %></p>
          <% } %>
          <footer>
            <%- include("_meta-post", {page: post}) %>
          </footer>
        </article>
      <% }); %>
    </main>
  </body>
</html>
