<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head/_index %>
  </head>
  <body>
    <header>
      <div class="justify-between">
        <% include author/_blog %>
        <% include hamburger %>
      </div>
      <nav class="tablet-hide">
        <% include _navigation %>
      </nav>
    </header>
    <main>
      <% page.body %>
      <% const posts = site.queryPages((data) => data.category == "project").sort((a, b) => new Date(b.date) - new Date(a.date)) %>
      <% posts.forEach(function(post) { %>
        <article>
          <a href="/<%- post.pathname %>" class="post-title">
            <h2><%= post.title %></h2>
          </a>
          <% if(post.summary) { %>
            <p><%= post.summary %></p>
          <% } else { %>
            <p><%= post.description %></p>
          <% } %>
          <footer>
            <%- include("_meta-post", {page: post}) %>
          </footer>
        </article>
      <% }); %>
    </main>
  </body>
</html>
