<% const title = page.title ? page.title : site.title; %>
<% const description = page.description ? page.description : site.description; %>
<% const image = page.image ? page.image : site.image; %>

<title><%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="<%= site.favicon %>">

<!-- OG -->
<meta property="og:title" content="<%= title %>">
<meta content="<%=  description %>" property="og:description">
<meta property="og:image" content="<%= image %>">
