<% const title = page.title ? page.title : site.title; %>
<% const description = page.description ? page.description : site.description; %>
<% const image = page.image ? page.image : site.image; %>
<% const twitterCard = page.twitterCard ? page.twitterCard : "summary" %>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="<%= site.favicon %>">

<title><%= title %></title>
<meta name="description" content="<%=  description %>">
<!-- OG -->
<meta property="og:title" content="<%= title %>">
<meta content="<%=  description %>" property="og:description">
<meta property="og:image" content="<%= site.domain %><%= image %>">

<!-- Author -->
<% if (page.author) { %>
<meta name="author" content="<%= site.authors[page.author].name %>">
<meta property="article:author" content="<%= site.authors[page.author].url %>">
<meta name="twitter:creator" content="<%= site.authors[page.author].twitter %>">
<% } %>

<!-- Twitter -->
<meta name="twitter:card" content="<%= twitterCard %>">
<meta name="twitter:image" content="<%= site.domain %><%= image %>">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= description %>">
